{% extends "auctions/layout.html" %}

{% block body %}

<div style="text-align: left;">
<img src="{{auction.url}}" class="card-img-top" style="
width:auto;
object-fit: scale-down;
max-height: 121px; 
"> 
</div>
{{ auction }}
${{ auction.min_bid }}

Current Bid: ${{highest_bid.amount}}

{%if not auction.closed%}




<form action="" method="post">
<div class="form-group">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" name="submit" value="Bid">
    
</div>

</form>

{{error}}

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" name="submit" value="Watchlist">
</form>


{% if user == auction.user %}
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" name="submit" value="Close Auction">
</form>
{% endif %}

{%else%}

<h1>Auction Closed!</h1>
{% if highest_bid.user == user%}

<h2>You have won the auction for ${{highest_bid.amount}}!</h2>

{%endif%}


{%endif%}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ comment }}
    </table>
    <input type="submit" name="submit" value="Comment">
</form>

{{comments}}

{% endblock %}